<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <main>
    <% for(let produto of produtos) { %>
    <div class="book-card" >
      <a href="/produto/<%= produto.id%>">
        <img src="/imagem/<%= produto.imagem%>" alt="" class="book-card-img">
        <h4 class="book-card-h4"><%= produto.titulo%></h4>
        <p class="book-card-p">R$<%= produto.preco%></p>
        <p class="book-card-p"><%= produto.descricao%></p>
      </a>
    </div>
    <% } %>
  </main>

  <footer>
    <p class="cor">&copy; 2023 My Library</p>
  </footer>
</body>
</html>